# source file related
*__pycache__*
*.pyc
*.o
*.so
*.egg
*.egg-info

# training related
*log*
*.log
*.pth
*.pt

# result related
*answer*
*ckpt*
*.json
*.jsonl
res_*

# mac hidden
*.DS_Store*
checkpoints/
commands_i_ran.md
*.png
data/
